@page "/create"
@using BlazorCRUD.Services;
@using BlazorCRUD.Data;
@inject GameCatalogService gameCatalogService;
@inject NavigationManager Navigation;

<h3>Create</h3>

@* <EditForm Model="@game" OnValidSubmit="HandleSubmit">
    <lalbel for="NameInput">Name</lalbel>
    <InputText id="NameInput" @bind-Value=@game.Name></InputText>
    <lalbel for="GenreInput">Genre</lalbel>
    <InputText id="GenreInput" @bind-Value=@game.Genre></InputText>
    
    <button type="submit" class="btn btn-primary">Create</button>
</EditForm> *@

<EditForm Model="@game" OnValidSubmit="HandleSubmit">
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Name" HelperText="Max. 8 characters"
                    @bind-Value="game.Name" For="@(() => game.Name)" />
                    <MudTextField Label="Email" Class="mt-3"
                    @bind-Value="game.Genre" For="@(() => game.Genre)" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Update</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>


@code {
    GameModel game = new GameModel();

    public void HandleSubmit(EditContext editContext)
    {
        var newGame = (GameModel)editContext.Model;
        newGame.ReleaseDate = DateTime.Now;
        gameCatalogService.AddGame(newGame);
        Navigation.NavigateTo("/", true);
    }

}
