@page "/create"
@using BlazorCRUD.Services;
@using BlazorCRUD.Data;
@inject GameCatalogService gameCatalogService;
@inject NavigationManager Navigation;

<h3>Create</h3>

<EditForm Model="@game" OnValidSubmit="HandleSubmit">
    <lalbel for="NameInput">Name</lalbel>
    <InputText id="NameInput" @bind-Value=@game.Name></InputText>
    <lalbel for="GenreInput">Genre</lalbel>
    <InputText id="GenreInput" @bind-Value=@game.Genre></InputText>
    
    <button type="submit" class="btn btn-primary">Create</button>
</EditForm>


@code {
    GameModel game = new GameModel();

    public void HandleSubmit(EditContext editContext)
    {
        var newGame = (GameModel)editContext.Model;
        newGame.ReleaseDate = DateTime.Now;
        gameCatalogService.AddGame(newGame);
        Navigation.NavigateTo("/", true);
    }

}
