@inherits LayoutComponentBase

<PageTitle>BlazorCRUD</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar class="mud-theme-dark">
        <MudIconButton Href="/" Icon="@Icons.Material.Filled.Home" Color="Color.Inherit"/>
        <div class="d-flex justify-center" style="width: 100vw;">
            <MudText Width Typo="Typo.h4" Class="ml-3">My Application</MudText>
        </div>
    </MudAppBar>
    <MudDrawer Open="true" class="mud-theme-dark">

    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

